/* @import url("https://fonts.cdnfonts.com/css/dylan"); */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

/* body {
  font-family: "Dylan", sans-serif;
} */

:root {
  /* h1 style  */
  --h1-font-size: 20px;
  --h1-font-weight: 700;
  /* h3 style  */
  --h3-font-size: 16px;
  --h3-font-weight: 700;
}

.label {
  font-size: 16px;
  font-weight: 400;
  color: #2d2d2d;
}

.input {
  width: 100%;
  outline: none;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.inputGrayColor {
  width: 100%;
  color: #ababab;
  outline: none;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.inputRounded {
  width: 100%;
  outline: none;
  padding: 12px;
  padding-left: 20px;
  border: 1px solid #ccc;
  border-radius: 60px;
}
.inputRounded2 {
  width: 100%;
  outline: none;
  padding: 12px;
  padding-left: 50px;
  border: 1px solid #ccc;
  border-radius: 60px;
}
.inputCal {
  width: 100%;
  outline: none;
  padding: 12px;
  font-weight: 500;
  color: rgb(43, 43, 43) !important;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.inputCenter {
  width: 100%;
  outline: none;
  padding: 10px;
  font-weight: 500;
  text-align: center;
  color: rgb(43, 43, 43) !important;
  border: 1px solid #ccc;
  border-radius: 6px;
}

h1 {
  font-size: var(--h1-font-size);
  font-weight: var(--h1-font-weight);
}

h3 {
  font-size: var(--h3-font-size);
  font-weight: var(--h3-font-weight);
}

/* user menu active color manage */
.css-1h9z7r5-MuiButtonBase-root-MuiTab-root.Mui-selected {
  font-weight: 700;
  color: #2d2d2d !important;
}
.css-1aquho2-MuiTabs-indicator {
  background-color: #2d2d2d !important;
}
button.MuiButtonBase-root.MuiTab-root.MuiTab-textColorPrimary.css-1h9z7r5-MuiButtonBase-root-MuiTab-root {
  color: #ababab;
}
/* swiper active bg color */
.swiper-pagination-bullet-active {
  background: #ffffff !important;
}

.reportCheckBox {
  font-weight: 400;
  cursor: pointer;
  color: #ababab;
}

.borderTopBottom {
  border-top: 1px solid #e2e2e2;
  border-bottom: 1px solid #e2e2e2;
}
.borderTop {
  border-top: 1px solid #e2e2e2;
}
.centerImageIcon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 24px; /* Adjust the size of the icon as needed */
  color: white;
}

.shape {
  z-index: 999;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 10px 13px;
  color: #ababab;
  font-family: Arial, sans-serif;
}

.triangleDown {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-top: 15px solid white;
}

.cardBorder {
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.BoxShadow {
  border: 1px solid #f1f1f1;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.BorderRight {
  padding-right: 30px;
  border-right: 1px solid #f1f1f1;
}

.BoxShadowLessRounded {
  border: 1px solid #f1f1f1;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
.BoxShadowModalTop {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
/* swiper */

.reviewCardSwiper {
  padding: 0 2px;
}

.borderRadiusLeftChatRight {
  border-radius: 10px 10px 0px 10px;
}

.borderRadiusLeftChatLeft {
  border-radius: 10px 10px 10px 0px;
}

/* radio checkbox */

/* PaymentMethod.css */
/* Custom Radio Button */
.payment-option {
  position: relative;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.payment-option input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.custom-radio {
  position: absolute;
  top: 50%;
  right: 10px; /* Adjust to place it properly */
  height: 25px;
  width: 25px;
  background-color: #fff;
  border: 2px solid #535353;
  border-radius: 50%;
  transform: translateY(-50%);
}

.payment-option input:checked ~ .custom-radio {
  border-color: #000;
  background-color: #000;
}

.custom-radio:after {
  content: "";
  position: absolute;
  display: none;
}

.payment-option input:checked ~ .custom-radio:after {
  display: block;
}

.payment-option .custom-radio:after {
  left: 7px;
  top: 5px;
  width: 6px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  transform: rotate(45deg);
}

/* time edit modal */
.time-picker {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  user-select: none;
}

.time-column {
  margin: 0 10px;
  padding: 10px;
  background: #f0f0f0;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
}

/* rate tour */
.rateTourBtn {
  color: black;
  padding: 10px 0;
  width: 100%;
  border-radius: 5px;
  font-weight: 500;
  margin-bottom: 5px;
  border: 1px solid #e2e2e2;
}
.rateTourBtnActive {
  border: 1px solid #2d2d2d;
}
.rateTourBtn:hover {
  border: 1px solid #2d2d2d;
}

/* profileShadow */
.profileShadow {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

/* profile */
.cameraBoxShadow {
  box-shadow: 0px 0px 0px 5px white;
}

.loader {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e4e4e4a8;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.squareShadow {
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.expShadow {
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
